<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["SoccerBlast.Web.styles.css"]" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/soccerblast.css" />
    <link rel="stylesheet" href="css/settings.css" />
    <link rel="stylesheet" href="css/follow.css" />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/video.css" />
    <link rel="stylesheet" href="css/news.css" />
    <link rel="stylesheet" href="css/team.css" />
    <ImportMap />
    <link rel="icon" type="image/png" href="images/logo/soccer-blast.png" />
    <title>Soccer Blast - Live Scores, Fixtures & News</title>
    <HeadOutlet />
   
</head>

<body>
    <Routes />
    <ReconnectModal /> 
    <script src="js/tz.js"></script>
    <script src="js/prefs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js" crossorigin="anonymous"></script>
    <script src="js/lottie-spinner.js"></script>
    <script>
        window.soccerBlastBack = function () {
            if (window.history.length > 1) window.history.back();
            else window.location.href = '/';
        };
    </script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
