@page "/test-sync"
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer

<div style="padding:40px; font-size:24px;">
    <div>Clicks: @_clicks</div>

    <button style="font-size:24px; padding:16px 24px; margin-top:16px;"
            @onclick="Inc">
        Test Click
    </button>
</div>

@code {
    private int _clicks = 0;
    private void Inc()
    {
        _clicks++;
        Console.WriteLine($">>> CLICK {_clicks}");
    }
}
